@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans+Caption&display=swap');

.navbar-custom{
  background: white;
  /*box-shadow: 2px 0px 8px #b6b3b3;*/
}

.nav-bar-logo{
  color: #006ee5;
  font-family: 'PT Sans Caption', sans-serif;
}
