
<div class="login-page">
  <div class="authDiv">
    <div class="card mb-3" style="max-width: 540px;box-shadow: 4px 4px 12px #dbd8d8d1;">
      <div class="row no-gutters">
        <div class="col-md-4" style="width: 400px;
    background: url(https://image.freepik.com/free-vector/maritime-transport-logistics-industry_24640-8529.jpg);
    background-position: right;">
<!--          <img src="https://image.freepik.com/free-vector/maritime-transport-logistics-industry_24640-8529.jpg" class="card-img side-image" alt="...">-->
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3>LOGISQ</h3>
            <h5 class="card-title">Request Access</h5>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Contact Number</label>
                <input type="text" class="form-control" id="exampleInputNumber1"  formControlName="contact">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Reason for request</label>
                <input type="text" class="form-control" id="exampleInputReason1"  formControlName="reason">
              </div>
              <div class="invalid-feedback" [ngStyle]="isRequestAccessError? {'display': 'block'} : {'display': 'none'}">
                {{ requestAccessError }}
              </div>
              <button type="submit" [disabled]="profileForm.value.email == '' || profileForm.value.password == ''|| profileForm.value.contact == ''|| profileForm.value.reason == '' || profileForm.controls.email.status == 'INVALID' || profileForm.controls.contact.status == 'INVALID'" class="btn btn-primary" style="width: 100%">Request Access</button>
              <a routerLink="/login"><h6>Login?</h6></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
<!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--    Launch demo modal-->
<!--  </button>-->

  <!-- Modal -->
<!--  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel">Status</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--&lt;!&ndash;            <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <h5>Your request will be acknowledged by an admin shortly</h5>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-primary" (click)="onModalOk()" routerLink="/login">OK</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!--            <span aria-hidden="true">&times;</span>-->
          </button>
        </div>
        <div class="modal-body">
          <h5>Your request will be acknowledged by an admin shortly</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onModalOk()" routerLink="/login">OK</button>
        </div>
      </div>
    </div>
</div>
